services:
  - type: web
    name: scanbillet-app
    env: node
    rootDir: .
    buildCommand: |
      cd frontend
      npm install
      npm run build
      cd ..
      npm install
    startCommand: node index.js
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18.20.8

