.dashboard-screen {
  padding: 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card {
  padding: 15px;
  border-radius: 8px;
  width: 30%;
  color: white;
  margin: 10px;
}

.card.orange { background-color: #f57c00; }
.card.green { background-color: #388e3c; }
.card.red { background-color: #d32f2f; }

.scan-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
